body {
  background-color: #222;
  color: #e6e6e6;
  font-family: Arial, sans-serif;
}

.center-content {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

h1,
h2 {
  color: #e6e6e6;
}

button,
label.custom-file-input-label {
  font-size: 1rem;
  background-color: #c02d28;
  color: #e6e6e6;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  display: inline-block;
  position: relative;
  z-index: 1;
}

button:hover,
label.custom-file-input-label:hover {
  background-color: #d0312b;
}

.file-name-display {
  color: #e6e6e6;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  display: inline-block;
  z-index: 0;
}

input[type="file"] {
  display: none;
}

input {
  color: #e6e6e6;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 50%;
}

form {
  background-color: black;
  padding: 20px;
  width: 500px;
}
