<!DOCTYPE html>
<html>
  <head>
    <title>FM Transcriptions & Descriptions</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="center-content">
      <h2>1 - Generate Transcripts</h2>
      <form
        action="/transcribe"
        method="POST"
        enctype="multipart/form-data"
        id="transcription"
      >
      <h3>To begin, choose a local video file to generate transcripts:</h3>
        <input
          type="file"
          id="fileInput"
          name="audio_files"
          multiple
          accept=".mp3, .mp4"
        />
        <label for="fileInput" class="custom-file-input-label">
          Choose File
        </label>
        <div id="fileNameDisplay" class="file-name-display"></div>

        <h3>- or -</h3>

        <!-- Add new input for choosing a folder -->
        <input
          type="file"
          id="folderInput"
          name="audio_folder"
          webkitdirectory
          directory
          multiple
        />
        <label for="folderInput" class="custom-file-input-label">
          Choose Folder
        </label>
        <div id="folderNameDisplay" class="folder-name-display"></div>

        <button type="submit">Generate & Download</button>
      </form>
      <h2>2 - Generate Descriptions</h2>
      <form id="description" action="/generate_descriptions" method="POST">
        <div>
          <button type="submit">Generate</button>
        </div>
      </form>
    </div>
  </body>
  <script>
    const fileInput = document.getElementById("fileInput");
    const folderInput = document.getElementById("folderInput");
    const fileNameDisplay = document.getElementById("fileNameDisplay");
    const folderNameDisplay = document.getElementById("folderNameDisplay");

    fileInput.addEventListener("change", function () {
      const files = fileInput.files;
      resetFolderInput(); // Clear folder selection
      if (files.length > 0) {
        const filteredFileNames = Array.from(files)
          .map((file) => file.name)
          .filter((name) => !name.endsWith(".DS_Store"));
        fileNameDisplay.innerText = filteredFileNames.join(", ");
      } else {
        fileNameDisplay.innerText = "No file chosen";
      }
    });

    folderInput.addEventListener("change", function () {
      const folders = folderInput.files;
      resetFileInput(); // Clear file selection
      if (folders.length > 0) {
        const filteredFolderNames = Array.from(folders)
          .map((folder) => folder.name)
          .filter((name) => !name.endsWith(".DS_Store"));
        folderNameDisplay.innerText = filteredFolderNames.join(", ");
      } else {
        folderNameDisplay.innerText = "No folder chosen";
      }
    });

    function resetFileInput() {
      fileInput.value = null;
      fileNameDisplay.innerText = "";
    }

    function resetFolderInput() {
      folderInput.value = null;
      folderNameDisplay.innerText = "";
    }
  </script>
</html>
